.profile__image {
    display: flex; /* Центрируем содержимое контейнера */
    align-items: center; /* Центрируем по вертикали */
    justify-content: center; /* Центрируем по горизонтали */
    
}

/* Контейнер для кнопки и изображения */
.profile__image {
    display: inline-block; /* Оставляем размеры и позиционирование гибкими */
    position: relative; /* Для правильного позиционирования фона */
}

/* Кнопка, содержащая изображение */
.profile__avatar-button {
    background: transparent; /* Прозрачный фон по умолчанию */
    border: none; /* Убираем стандартную рамку кнопки */
    padding: 0; /* Убираем внутренние отступы */
    border-radius: 50%; /* Круглая форма кнопки */
    cursor: pointer; /* Указатель курсора при наведении */
    width: 120px; /* Ширина кнопки */
    height: 120px; /* Высота кнопки */
    position: relative; /* Устанавливаем относительное позиционирование для вложенных элементов */
    overflow: hidden; /* Скрываем все, что выходит за пределы кнопки */
}

/* Ховер-эффект */
.profile__avatar-button:hover::before {
    content: ''; /* Псевдоэлемент для фона */
    position: absolute; /* Абсолютное позиционирование внутри кнопки */
    top: 0; left: 0; right: 0; bottom: 0; /* Покрывает всю кнопку */
    background: rgba(0, 0, 0, 0.5) url('../../../images/edit-icon.svg') no-repeat center;
    background-size: 26px 26px; /* Размер иконки */
    border-radius: 50%; /* Соответствие форме кнопки */
    z-index: 1; /* Устанавливаем выше изображения */
}

/* Стили для изображения */
.profile__avatar {
    display: block; /* Убираем пробелы под изображением */
    width: 100%; /* Ширина изображения соответствует кнопке */
    height: 100%; /* Высота изображения соответствует кнопке */
    object-fit: cover; /* Масштабируем изображение, сохраняя его пропорции */
    border-radius: 50%; /* Делаем изображение круглым */
    position: relative; /* Положение изображения относительно кнопки */
    z-index: 0; /* Устанавливаем ниже псевдоэлемента для ховера */
}
